/*
  The Tailwind directives inject its base, component and utility styles
  into the compiled CSS.  See https://tailwindcss.com/docs/installation
  for details.  Additional global styles can be added below.
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply px-4 py-2 bg-primary-600 text-white rounded-lg hover:bg-primary-700 transition-colors font-medium text-sm;
  }
}

body {
  @apply min-h-screen antialiased;
}
